<div class="card">
    <img src="https://images.unsplash.com/photo-1455800507867-8eff5459d8aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
        class="card-img-top">
    <div class="card-body">
        <h5>Albumn name</h5>
        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque vel at consequuntur culpa
            quaerat, repudiandae nisi a, quos debitis voluptas qui veniam ducimus, pariatur provident. Repudiandae
            molestiae debitis tenetur adipisci.</p>
        <a href="./disc" class="btn btn-success">Ver detalles</a>
    </div>
</div>