<div class="jumbotron text-dark m-5">
    <h1 class="display-4">
        <img src="./assets/logo.png" width="140" height="105" style="filter: invert();">
        Hello, Discográfica!
    </h1>
    <p class="lead">Desarrollar un sistema web que administre la información de almacén, productos, usuarios y clientes.
    </p>
    <hr class="my-4">
    <p>Una de las prioridades que se debe tener en cualquier lugar dedicado a la atención a clientes es la calidad y
        rapidez con la que se lleva a cabo dicho proceso.
        En los últimos meses, Discográfica S.A de C.V. ha presentado una disminución en sus ventas debido a que es muy
        alto el tiempo de espera para cada cliente al pagar en caja.
        Este retraso al momento de realizar el pago se presenta porque toda la información de la empresa es guardada en
        documentos de Excel, lo cual es una técnica poco eficaz de almacenamiento de la misma, ya que cada una de las
        ventas y devoluciones deben ser capturadas en un archivo, recuperando de otros archivos la información de los
        discos vendidos, clientes, empleados de la tienda, entre otros. La realización de transacciones de esta forma
        representa un consumo de tiempo muy alto entre cada una de ellas.
        Por lo tanto, se requiere de una manera más adecuada y sencilla de realizar dicho proceso, y así tener un
        servicio más ágil y una atención de alta calidad hacia los clientes, teniendo una experiencia positivo al
        momento de visitar el establecimiento.
    </p>
</div>