<div class="row">
    <div class="col">
        <h1>Cliente</h1>
        <p>Para ver más detalles acerca del usuario pulsa en el botón de ver detalle</p>
    </div>
</div>


<div class="row mb-2">
    <div class="col">
        <div *ngIf="selectedCustomer != null" class="card">
            <div class="card-header text-dark">
                <h3>Detalle del cliente</h3>
            </div>
            <form class="card-body">
                
                <div class="row px-3">
                    <div class="col">
                        <div class="form-row">
                            <label class="font-weight-bold">Nombre completo</label>
                            <div class="input-group">
                                <input 
                                    name="nombre" 
                                    [(ngModel)]="selectedCustomer.nombre" 
                                    type="text" class="form-control" 
                                    placeholder="Nombre">

                                <input 
                                    name="apellidoPaterno" 
                                    [(ngModel)]="selectedCustomer.apellidoPaterno"  
                                    type="text" class="form-control" 
                                    placeholder="Apellido paterno">
                                    
                                <input name="amaterno" 
                                    name="apellidoMaterno" 
                                    [(ngModel)]="selectedCustomer.apellidoMaterno"  
                                    type="text" class="form-control" 
                                    placeholder="Apellido materno">
                            </div>
                            <label class="font-weight-bold mt-2">Datos personales</label>
                            <div class="input-group">
                                <input
                                    name="dirección"
                                    [(ngModel)]="selectedCustomer.direccion" 
                                    type="text" 
                                    class="form-control" 
                                    placeholder="Dirección">
                                <input
                                    name="correo"
                                    [(ngModel)]="selectedCustomer.correo" 
                                    type="text" 
                                    class="form-control" 
                                    placeholder="Correo">
                                <input
                                    name="teléfono"
                                    [(ngModel)]="selectedCustomer.telefono" 
                                    type="text" 
                                    class="form-control" 
                                    placeholder="Teléfono">
                            </div>
                            <label class="font-weight-bold mt-2">Credenciales</label>
                            <div class="input-group">
                                <input
                                    name="password"
                                    type="text" 
                                    class="form-control" 
                                    placeholder="Contraseña">
                                <input
                                    name="passwordConfirm"
                                    type="text" 
                                    class="form-control" 
                                    placeholder="Repetir contraseña">
                            </div>

                            <!-- <label class="font-weight-bold mt-2">Detalles de creación</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Fecha alta">
                                <input type="text" class="form-control" placeholder="Usuario alta">
                            </div> -->
                            <!-- <label class="font-weight-bold mt-2">Detalles de modificación</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Fecha de modificación">
                                <input type="text" class="form-control" placeholder="Usuario de modificación">
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="row px-3">
                    <div class="col text-right mt-3">
                            <button *ngIf="selectedCustomer.id == null" class="btn btn-success mx-1">Registrar</button>
                            <button *ngIf="selectedCustomer.id != null" class="btn btn-success mx-1">Guardar</button>
                            <button class="btn btn-danger mx-1">Eliminar</button>
                            <button (click)="cancelCustomerEdit()" class="btn btn-warning mx-1">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">

        <div class="card ">
            <div class="card-headear px-3 py-2 text-dark">
                <h2>Registro de cliente</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col p-0">
                        <div *ngIf="customers.lenght == 0" class="alert alert-warning">
                            <h3>¡No existen clientes registrados!</h3>
                        </div>
                        <table *ngIf="customers.lenght != 0" class="table table-sm table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Apellidos Paterno</th>
                                    <th>Apellidos Materno</th>
                                    <th>Teléfono</th>
                                    <th>Dirección</th>
                                    <th>Correo</th>
                                    <th>Rol</th>
                                    <th class="text-center">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let customer of customers">
                                    <td>{{customer.id}}</td>
                                    <td>{{customer.nombre}}</td>
                                    <td>{{customer.apellidoPaterno}}</td>
                                    <td>{{customer.apellidoMaterno}}</td>
                                    <td>{{customer.telefono}}</td>
                                    <td>{{customer.direccion}}</td>
                                    <td>{{customer.correo}}</td>
                                    <td>{{customer.rol}}</td>
                                    <td class="btn-group text-center">
                                        <button class="btn btn-info btn-sm" (click)="makeEditCustomer(customer)">
                                            <span class="fa fa-edit"></span>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        <button  (click)="createCustomerQuestion()" class="btn btn-primary">Registrar nuevo cliente</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>