<div class="row">
    <div class="col">
        <h1>Cliente</h1>
        <p>Para ver más detalles acerca del usuario pulsa en el botón de ver detalle</p>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card m-2">
            <div class="card-headear px-3 py-2 text-dark    ">
                <h2>Registro de cliente</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <table class="table table-sm table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <td>Id</td>
                                    <td>Nombre</td>
                                    <td>Apellidos</td>
                                    <td>Teléfono</td>
                                    <td>Dirección</td>
                                    <td>Correo</td>
                                    <td>Rol</td>
                                    <td class="text-center">Opciones</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Juda</td>
                                    <td>Vallejo</td>
                                    <td>4775012321</td>
                                    <td>La joyita #233</td>
                                    <td>juda@mail.com</td>
                                    <td>El rolas</td>
                                    <td class="text-center">
                                        <button class="btn btn-info btn-sm">Detalle</button>
                                        <button class="btn btn-danger btn-sm">Eliminar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Juda</td>
                                    <td>Vallejo</td>
                                    <td>4775012321</td>
                                    <td>La joyita #233</td>
                                    <td>juda@mail.com</td>
                                    <td>El rolas</td>
                                    <td class="text-center">
                                        <button class="btn btn-info btn-sm">Detalle</button>
                                        <button class="btn btn-danger btn-sm">Eliminar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Juda</td>
                                    <td>Vallejo</td>
                                    <td>4775012321</td>
                                    <td>La joyita #233</td>
                                    <td>juda@mail.com</td>
                                    <td>El rolas</td>
                                    <td class="text-center">
                                        <button class="btn btn-info btn-sm">Detalle</button>
                                        <button class="btn btn-danger btn-sm">Eliminar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Juda</td>
                                    <td>Vallejo</td>
                                    <td>4775012321</td>
                                    <td>La joyita #233</td>
                                    <td>juda@mail.com</td>
                                    <td>El rolas</td>
                                    <td class="text-center">
                                        <button class="btn btn-info btn-sm">Detalle</button>
                                        <button class="btn btn-danger btn-sm">Eliminar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Juda</td>
                                    <td>Vallejo</td>
                                    <td>4775012321</td>
                                    <td>La joyita #233</td>
                                    <td>juda@mail.com</td>
                                    <td>El rolas</td>
                                    <td class="text-center">
                                        <button class="btn btn-info btn-sm">Detalle</button>
                                        <button class="btn btn-danger btn-sm">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        <button class="btn btn-primary">Registrar nuevo cliente</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col">
        <div class="card m-2">
            <div class="card-header text-dark">
                <h3>Detalle del cliente</h3>
            </div>
            <div class="card-body">
                <div class="row px-3">
                    <div class="col">
                        <div class="form-row">
                            <label class="font-weight-bold">Nombre completo</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Nombre">
                                <input type="text" class="form-control" placeholder="Apellido">
                            </div>
                            <label class="font-weight-bold mt-2">Datos personales</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Dirección">
                                <input type="text" class="form-control" placeholder="Correo">
                                <input type="text" class="form-control" placeholder="Teléfono">
                            </div>
                            <label class="font-weight-bold mt-2">Credenciales</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Contraseña">
                                <input type="text" class="form-control" placeholder="Repetir contraseña">
                            </div>

                            <label class="font-weight-bold mt-2">Detalles de creación</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Fecha alta">
                                <input type="text" class="form-control" placeholder="Usuario alta">
                            </div>
                            <label class="font-weight-bold mt-2">Detalles de modificación</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Fecha de modificación">
                                <input type="text" class="form-control" placeholder="Usuario de modificación">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row px-3">
                    <div class="col text-right mt-3">
                        <button class="btn btn-success">Guardar usuario</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>