<div class="row">
    <div class="col">
        <h1>Cliente</h1>
        <p>Para ver más detalles acerca del usuario pulsa en el botón de ver detalle</p>
    </div>
</div>


<div class="row mb-2">
    <div class="col">
        <div *ngIf="selectedCustomer != null" class="card  mx-5">
            <div class="card-header text-dark">
                <h3>Detalle del cliente</h3>
            </div>

            <form #customerForm="ngForm" class="card-body" (ngSubmit)="submitCustomer()">
                <div class="row px-3">
                    <div class="col">
                        <div class="form-row">
                            <label class="font-weight-bold">Nombre completo</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="name" [(ngModel)]="selectedCustomer.name"
                                    placeholder="Nombre" required>

                                <input type="text" class="form-control" name="lastname"
                                    [(ngModel)]="selectedCustomer.lastname" placeholder="Apellido paterno" required>
                            </div>
                            <label class="font-weight-bold mt-2">Datos personales</label>
                            <div class="input-group">
                                <input type="text" name="address" class="form-control"
                                    [(ngModel)]="selectedCustomer.address" placeholder="Dirección" required>
                                <input type="text" class="form-control" name="email"
                                    [(ngModel)]="selectedCustomer.email" placeholder="Correo" required>
                            </div>
                            <div class="input-group mt-3">
                                <input type="text" class="form-control" name="phone"
                                    [(ngModel)]="selectedCustomer.phone" placeholder="Teléfono" required>
                            </div>
                            <label *ngIf="selectedCustomer.id == null"
                                class="font-weight-bold mt-2">Credenciales</label>
                            <div *ngIf="selectedCustomer.id == null" class="input-group">
                                <input [(ngModel)]="selectedCustomer.password" name="password" type="password"
                                    class="form-control" placeholder="Contraseña" required>

                                <input [(ngModel)]="selectedCustomer.passwordConfirm" name="passwordConfirm"
                                    type="password" class="form-control" placeholder="Repetir contraseña" required>
                            </div>
                            <div class="text-danger">
                                <i>Todos los campos son necesarios</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row px-3">
                    <div class="col text-right mt-3">

                        <button [disabled]="!customerForm.valid" type="submit"
                            class="btn btn-success mx-1">Guardar</button>
                        <button (click)="deleteCustomer()" class="btn btn-danger mx-1" type="button"
                            *ngIf="selectedCustomer.id != null">Eliminar</button>
                        <button (click)="cancelCustomerEdit()" type="button"
                            class="btn btn-warning mx-1">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card ">
            <div class="card-header px-3 py-2 text-dark">
                <h2>Registro de cliente</h2>
                <div class="row">
                    <div class="col text-right">
                        <button (click)="createCustomerQuestion()" class="btn btn-primary">Registrar nuevo
                            cliente</button>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col p-0">
                        <div *ngIf="customers.length == 0" class="alert alert-warining">
                            <h1>No existen clientes registrados</h1>
                        </div>
                        <table *ngIf="customers.length != 0" class="table table-sm table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Teléfono</th>
                                    <th>Dirección</th>
                                    <th>Correo</th>
                                    <th class="text-center">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let customer of customers">
                                    <td>{{customer.id}}</td>
                                    <td>{{customer.name}}</td>
                                    <td>{{customer.lastname}}</td>
                                    <td>{{customer.phone}}</td>
                                    <td>{{customer.address}}</td>
                                    <td>{{customer.email}}</td>
                                    <td class="text-center">
                                        <button class="btn btn-info btn-sm" (click)="makeEditCustomer(customer)">
                                            <span class="fa fa-edit"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>