<nav *ngIf="_sessionService.user != null" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand"><img src="./assets/logo.png" width="60" height="45" style="filter: invert();"></span>
    <b class="pr-5">Bootstrap</b>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="./#/home">Home</a></li>
            <li *ngIf="onlyAdmin()" class=" nav-item"><a class="nav-link" href="./#/users">Usuarios</a></li>
            <li *ngIf="onlyAdminAndEmployee()" class="nav-item"><a class="nav-link" href="./#/customers">Clientes</a>
            </li>
            <li *ngIf="onlyAdminAndEmployee()" class="nav-item"><a class="nav-link" href="./#/store">Almacen</a></li>
            <li class="nav-item">
                <a class="nav-link" href="./#/cart">
                    Carrito
                    <span *ngIf="_cartService.length > 0" class="badge badge-pill badge-success">
                        {{_cartService.length }}
                    </span>
                </a>
            </li>
            <li *ngIf="onlyAdminAndEmployee()" class="nav-item"><a class="nav-link" href="./#/sales">Ventas</a></li>
            <li class="nav-item"><a class="nav-link" href="./#/about">About</a></li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <h4>
                <span class="badge badge-success mt-2 mr-2"> {{_sessionService.user.name}} </span>
            </h4>
            <button (click)="logout()" class="btn btn-outline-success my-2 my-sm-0" type="button">
                Cerrar sesión
            </button>
        </form>
    </div>
</nav>