<div class="row">
    <div class="col">
        <h1>Movimientos de almacén</h1>
        <p>Las entradas de almacén son registradas según la mercansía ha sido vendida</p>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card m-2">
            <div class="card-headear px-3 py-2 text-dark">
                <h2>Registro de almacén</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Tipo movimiento</th>
                                    <th>Fecha movimiento</th>
                                    <th>Usuario</th>
                                    <th>Cliente</th>
                                    <th>Descripción</th>
                                    <th>Detalle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Salida</td>
                                    <td>12 May, 2019</td>
                                    <td>Saul Ulises</td>
                                    <td>Rafael Paniagua</td>
                                    <td>Venta de discos de 50th cent</td>
                                    <td>
                                        <button class="btn btn-sm btn-info">Detalle</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Salida</td>
                                    <td>12 May, 2019</td>
                                    <td>Saul Ulises</td>
                                    <td>Rafael Paniagua</td>
                                    <td>Venta de discos de 50th cent</td>
                                    <td>
                                        <button class="btn btn-sm btn-info">Detalle</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Salida</td>
                                    <td>12 May, 2019</td>
                                    <td>Saul Ulises</td>
                                    <td>Rafael Paniagua</td>
                                    <td>Venta de discos de 50th cent</td>
                                    <td>
                                        <button class="btn btn-sm btn-info">Detalle</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Salida</td>
                                    <td>12 May, 2019</td>
                                    <td>Saul Ulises</td>
                                    <td>Rafael Paniagua</td>
                                    <td>Venta de discos de 50th cent</td>
                                    <td>
                                        <button class="btn btn-sm btn-info">Detalle</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Salida</td>
                                    <td>12 May, 2019</td>
                                    <td>Saul Ulises</td>
                                    <td>Rafael Paniagua</td>
                                    <td>Venta de discos de 50th cent</td>
                                    <td>
                                        <button class="btn btn-sm btn-info">Detalle</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card m-2">
            <div class="card-header text-dark">
                <h1>Detalle del almacén</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p class="text-right">12, may, 2019</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <table class="table table-sm table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>P/U</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Disco: Off The Wall</td>
                                    <td>3</td>
                                    <td>70$</td>
                                    <td>210$</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Disco: Off The Wall</td>
                                    <td>3</td>
                                    <td>70$</td>
                                    <td>210$</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Disco: Off The Wall</td>
                                    <td>3</td>
                                    <td>70$</td>
                                    <td>210$</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Disco: Off The Wall</td>
                                    <td>3</td>
                                    <td>70$</td>
                                    <td>210$</td>
                                </tr>
                                <tr>
                                    <td class="text-center" colspan="4">Total</td>
                                    <td>840$</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>