<div class="card">
    <img [src]="album.image" class="card-img-top">
    <div class="card-body">
        <h3 class="text-dark">{{album.title}}</h3>
        <h5 class="text-muted">
            {{album.artist}}
        </h5>

        <div class="row">
            <div class="col">
                <button *ngIf="_sessionService.user.userType != 'cliente'" (click)="_cardService.add(album)"
                    class="btn btn-sm btn-success">
                    Agregar al carrito
                </button>
                <span class="badge badge-pill badge-success">
                    {{album.totalTracks}} tracks
                </span>
            </div>
            <div class="col">
                <a href="./#/disc/{{album.id}}" class="card-link">
                    Ver detalles
                </a>
            </div>
        </div>
    </div>
</div>