<div class="m-3">
    <div class="row">
        <div class="col">
            <h3>Carrito de compras</h3>
        </div>
    </div>

    <div class="card m-2">
        <div class="card-header text-dark">
            <h6>Realiza la compra de tus éxitos musicales en la mejor Discográfica del país.</h6>

        </div>
        <div class="card-body">
            <div *ngIf="albums.length == 0" class="alert alert-info">
                <h4>Tu carrito está vacío</h4>
            </div>
            <table *ngIf="albums.length > 0" class="table table-hover table-sm table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>#</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio unitario</th>
                        <th>Precio Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let album of albums; let i = index;" class="text-center">
                        <td>{{i+1}}</td>
                        <td class="text-left">{{album.title}}</td>
                        <td>{{album.quantity}}</td>
                        <td>{{album.price}}$</td>
                        <td>{{album.price  *  album.quantity}}$</td>
                        <th>
                            <div class="btn-group btn-group-sm">
                                <button (click)="_cartService.remove(album)" type="button"
                                    class="btn btn-success">-</button>
                                <div class="btn btn-success">{{album.quantity}}</div>
                                <button (click)="_cartService.add(album)" type="button"
                                    class="btn btn-success">+</button>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="row m-3">
        <div class="col text-right px-3">
            <button (click)="_cartService.clear()" *ngIf="albums.length != 0" class="btn btn-primary mx-2">Limpiar
                carrito</button>
            <button [disabled]="albums.length == 0" class="btn btn-primary mx-2">Comprar</button>
        </div>
    </div>
</div>