<div class="bg"></div>
<div class="container-fluid">
    <div class="row text-white" style="padding-top: 15%;">
        <div class="container offset-3 col-6 rounded p-5">
            <div class="row m-1">
                <div class="col">
                    <h2 class=" text-center">Bienvenido a Discográfica</h2>
                </div>
            </div>

            <div class="form-group">
                <label class="text-left">Nombre de usuario</label>
                <input class="form-control" placeholder="Nombre de usuario" type="text">
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input class="form-control" placeholder="Contraseña" type="password">
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-success px-5">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>