<div class="container-fluid">

    <div class="card-columns p-5">
        <app-disc></app-disc>
        <app-disc></app-disc>
        <app-disc></app-disc>
        <app-disc></app-disc>
        <app-disc></app-disc>
        <app-disc></app-disc>
        <app-disc></app-disc>
        <app-disc></app-disc>
        <app-disc></app-disc>
        <app-disc></app-disc>
        <app-disc></app-disc>
        <app-disc></app-disc>
        <app-disc></app-disc>
        <app-disc></app-disc>
        <app-disc></app-disc>
        <app-disc></app-disc>
        <app-disc></app-disc>
        <app-disc></app-disc>
    </div>

</div>